* {
  box-sizing: border-box;
}

body {
  margin: 5px;
  background-color: #85fff8;
  font-family: 'Yantramanav', sans-serif;
  font-size: 150%;
  max-width: 900px;
  margin: 20px auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  line-height: 125%;
}

img, iframe {
  max-width: 100%;
  height: auto;
}

label, input {
  display: block;
}

.url-with-label, code, pre {
  overflow-wrap: break-word; 
}


/* - - - - - - - - - - */
/* - - - Portfolio - - - */
/* - - - - - - - - - - */

.portfolio-project {
  background-color: #f8f8f8;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

.portfolio-project-header {
  display: grid;
  grid-template-columns: 50% 50%;
}

.portfolio-project-name {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: 2;
}

.portfolio-project .cover {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: 5;
  max-height: 500px;
  margin: 0 auto;
}

.portfolio-status-tag {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: 3;
}

.portfolio-project-date-range {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: 4;
}

.portfolio-project-tag-list {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: 5;
}

.portfolio-project-tag-list li {
  display: inline-block;
  margin: 5px;
}
  
@media (max-width: 768px) { 
  
  .portfolio-project-header {
    grid-template-columns: 100%;
  }

  .portfolio-project .cover {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .portfolio-status-tag {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .portfolio-project-date-range {
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .portfolio-project-tag-list {
    grid-row-start: 5;
    grid-row-end: 6;
  }
  

}




/* - - - - - - - - - - */
/* - - - Uploads - - - */
/* - - - - - - - - - - */

#login-form {
  margin: .5em 0;
  display: block;
}

#login-form label, #login-form input {
  display: block;
  margin: .5em 0;
}